
@media screen and (min-width: 0px) and (max-width: 767px) {

    .search-wrapper {
        display: none;
    }

    .user-nav-wrapper {
        display: none;
    }

    /* Toggler */
    #hamburger-toggle {
        display: block;
        position: relative;
        top: 55px;
        left: 21px;
        z-index: 1;
        width: 275px;
    }

    #hamburger-toggle a:hover {
        color: #ffffff;
        background-color: #000;
        padding: 5px 20px;
    }

    /* HIding inside checkbox */
    #hamburger-toggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

    }


    #hamburger-toggle label {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }

    #hamburger-toggle label span {
        display: none;
    }

    /* TOggler Ends */

    /* Hamburger */
    #hamburger-toggle label div {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 6px;
        position: relative;
        background: #232323;
        z-index: 1;
    }

    /* CHange color when toggled */
    /* Forgive me for using this, cuz it won't work using other properties... */
    #hamburger-toggle input:checked+label div {
        background: #4f7794;
    }

    /* Ends */

    .logo-wrapper {
        margin-right: 0;
        display: table;
        margin: 0 auto;
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 125px 50px 100% 50px;
        background: #ededed;
        list-style-type: none;
        /* Hide the menu off-screen to the left */
        left: -100%;
    }

    #menu li {
        padding: 10px 0;
font-size: 17px;
margin: 0 0 0 17px;
border-bottom: 1px solid black;
    }
/* Forgive me for using this, cuz it won't work using other properties... */
    #hamburger-toggle input:checked~ul {
        left: -20px;
    }

    /* Hamburger done */
    /* Hiding header bottom container */
    .header-bottom-container {
        display: none;
    }

    /* Bottom sticky nav */
    .recent-search {
        position: fixed;
        bottom: 0;
        width: 33.33%;
        font-size: 14px;
        cursor: pointer;
    }

    .right-container {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 33.33%;
        font-size: 14px;
        cursor: pointer;
    }

    .recent-search.list-items {
        margin-left: 33.33%;
    }

    /* Hiding recent search ko ul */
    .recent-search>ul,
    .right-list>ul {
        display: none;
    }

    .middle-container {
        padding: 10px;
    }
    .member-image> img{
        float: left;
        margin-right: 20px;
}


    .secondary-nav-wrapper {
        padding: 0px 0 5px 0;
        font-family: sans-serif;
        cursor: pointer;
    }

    .tip-top {
        display: inline-block;
    }

    .sec-nav-items {
        display: none;
    }

    .all-entry-title{
       background-color: #7dd8e8; 
       padding: 7px 13px;
    }
    .all-entry-title:hover {
        color: #000;
        background-color: #dfdfdf;
    }

    
    .footer-wrapper {
        height: 50px;
        margin-bottom: 30px;
    }

    .all-rights-reserved{
        padding:19px 15px;
    }

}

@media screen and (min-width: 768px) {

    /* Top Nav */
    .top-nav-wrapper,
    .bottom-nav-wrapper,
    .footer-wrapper {
        width: 100%;
        padding: 0px 22px 15px 19px;

    }

    .logo-wrapper {
        margin-right: 23px;
    }

    .container {
        /* width: 960px; */
        margin: 0 auto;
    }

    .top-nav {
        display: inline-block;
    }
    .nav-wrapper li,
    .footer-nav li {
        display: inline-block;
    }

    .user-nav-wrapper {
        float: right;
        font-size: 14px;
        margin: 14px 0 0 0;
    }


    /* Top Nav ends */
    /* Bottom Nav */
    /* Middle Container */
    .header {
        font-family: sans serif;
        margin-bottom: 6px;

    }

    .sec-nav-items li a {
        float: left;
        font-size: 14px;
    }

    .secondary-nav-wrapper {
        background-image: url('../images/background-sec-nav.png');
    }


    .member {
        float: left;
        margin-right: 10px;
    }

    .about-user li a {
        float: left;
    }

    .all-entry {
        display: inline-block;
    }

    .suscribed {
        float: right;
    }

    .active-nav a {
        background-image: url('../images/background-second-nav-active.png');
        width: 114px;
        height: 28px;
        margin-right: 6px;
        text-align: center;
        margin-top: 15px;
        padding-top: 5px;

    }

    .passive-nav a {
        background-image: url('../images/background-second-nav-inactive.png');
        width: 114px;
        height: 28px;
        margin-right: 6px;
        text-align: center;
        margin-top: 15px;
        padding-top: 5px;


    }

    /* Middle Container Ends */
    /* Middle wapper ends */
    /* Footer */


    .footer-wrapper {
        position: absolute;
        bottom: -410px;
    }

    .footer-nav {
        display: inline-block;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    #hamburger-toggle {
        display: none;
    }

    /* .search-wrapper {
        display: none;
    } */

    .left-corner, .right-corner,.close-button, .search-input>input{
        display: none;
    }
    .search-button {
        width: 100%;
        display: table;
        margin: 13px 282%;
    }

    /* Second Top Nav */

    .header-bottom-container {
        display: inline-block;
    }

    .bottom-nav-wrapper {
        padding-top: 15px;
    }

    .notifications {
        float: right;
    }

    .left-options {
        display: inline-block;
    }

    .header-bottom-container li {
        padding-left: 20px;

    }

    /* Second Top Nav Ends */
    .tip-top {
        width: 160px;
        padding: 0 10px;
        text-align: center;
        padding-top: 5px;
    }

    .middle-wrapper {
        width: 809px;
        margin: 30px auto;
    }

    /* Left and Right Container */

    .recent-search>ul,
    .right-list>ul {
        display: block;
    }

    .recent-search ul li a.first-child {
        float: left;
        width: 150px;
        padding: 10px 7px;
    }

    .recent-search ul li a.last-child {
        float: right;
        width: 26px;
        padding: 10px 0;

    }

    .right-list li {
        margin-bottom: 0;
    }

    .right-list ul li {
        padding: 13px 20px;
    }

    .left-container {
        width: 230px;
        float: left;
        margin-left: 2%;
    }


    .middle-container {
        width: 520px;
        display: inline-block;
        margin-left: 5%;
    }

    .secondary-nav-wrapper{
        padding: 0 50px;
    }
    .all-entry >  .all-entry-title{
        padding-right: 29px;
    }

  .suscribed >  .all-entry-title{
        padding-right: 24px;
    }


    

    /* Left and Right Container */

    .right-container {
        width: 230px;
        float: left;
        position: absolute;
        top: 555px;
        margin-left: 16px;
        }

    .footer-wrapper {
        position: absolute;
        bottom: -410px;
    }

    .all-rights-reserved{
        padding: 19px 47px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    #hamburger-toggle {
        display: none;
    }

    /* Second Top Nav */
    .header-bottom-container {
        display: inline-block;
    }

    .search-wrapper {
        position: absolute;
        margin-top: 18px;
    }
    .search-button {
        position: absolute;
        top: 14px;
        left: 285px;
    }

    .bottom-nav-wrapper {
        padding-top: 15px;
    }

    .notifications {
        float: right;
        margin-left: 238px;
    }

    .left-options {
        display: inline-block;
    }

    .header-bottom-container li {
        padding-left: 20px;

    }

    /* Second Top Nav Ends */
    .tip-top {
        width: 260px;
        padding: 0 10px;
        text-align: center;
        padding-top: 5px;
    }

    .middle-wrapper {
        width: 960px;
        margin: 30px auto;
    }

    .middle-container {
        width: 520px;
        display: inline-block;
        margin-left: 14px;
    }

    .container {
        width: 960px;
        margin: 0 auto;
    }

    /* Left and Right Container */
    /* Reset for mobile view */

    .recent-search>ul,
    .right-list>ul {
        display: block;
    }

    .recent-search ul li a.first-child {
        float: left;
        width: 150px;
        padding: 10px 7px;
    }

    .recent-search ul li a.last-child {
        float: right;
        width: 26px;
        padding: 10px 0;

    }

    .right-list li {
        margin-bottom: 0;
    }

    .right-list ul li {
        padding: 13px 20px;
    }

    .left-container {
        width: 230px;
        float: left;
    }

    .right-container {
        float: right;
    }

    /* Left and Right Container */
    .all-rights-reserved{
        padding: 19px 47px;
    }

}

@media screen and (min-width: 1201px) {

    #hamburger-toggle {
        display: none;
    }

    .search-wrapper {
        position: absolute;
        margin-top: 18px;
    }
    .search-button {
        position: absolute;
        top: 14px;
        left: 285px;
    }
    /* Second Top Nav */

    .header-bottom-container {
        display: inline-block;
    }

    
    .bottom-nav-wrapper {
        padding-top: 15px;
    }

    .notifications {
        float: right;
        margin-left: 238px;
    }

    .left-options {
        display: inline-block;
    }

    .header-bottom-container li {
        padding-left: 20px;

    }
    .container {
        width: 960px;
        margin: 0 auto;
    }

    /* Second Top Nav Ends */
    .tip-top {
        width: 260px;
        padding: 0 10px;
        text-align: center;
        padding-top: 5px;
    }

    .middle-wrapper {
        width: 960px;
        margin: 30px auto;
    }

    .middle-container {
        width: 520px;
        display: inline-block;
        margin-left: 14px;
    }


    /* Left and Right Container */
    .recent-search>ul,
    .right-list>ul {
        display: block;
    }

    .recent-search ul li a.first-child {
        float: left;
        width: 150px;
        padding: 10px 7px;
    }

    .recent-search ul li a.last-child {
        float: right;
        width: 26px;
        padding: 10px 0;

    }

    .right-list li {
        margin-bottom: 0;
    }

    .right-list ul li {
        padding: 13px 20px;
    }

    .left-container {
        width: 230px;
        float: left;
    }

    .right-container {
        float: right;
    }

    .footer-container {
        width: 960px;
        margin: 0 auto;
    }

    .all-rights-reserved{
        padding: 19px 47px;
    }

}